- name: Install Hyprland related packages
  become: yes
  package:
    name:
      - hyprpaper
      - hyprlock
      - hypridle
      - waypaper
    state: present
  tags:
    - dotfiles
    - install
    - hyprland
    - hyprland_deps

- name: Install utility packages
  become: yes
  package:
    name:
      - dunst
      - rofi-lbonn-wayland-git
      - waybar
      - wlogout
      - hyprshot
      - brightnessctl
    state: present
  tags:
    - dotfiles
    - install
    - hyprland
    - hyprland_deps

- name: Install clipboard and utils
  become: yes
  package:
    name:
      - wl-clipboard
      - xclip
      - cliphist
    state: present
  tags:
    - dotfiles
    - install
    - hyprland
    - hyprland_deps
